USE [thanhnien]
GO
/****** Object:  Table [dbo].[tabBAO]    Script Date: 27/06/2026 4:35:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tabBAO](
	[maBao] [varchar](30) NOT NULL,
	[ten] [nvarchar](50) NOT NULL,
	[DVT] [nvarchar](50) NOT NULL,
	[donGia] [float] NOT NULL,
	[ngayBatDau] [datetime] NULL,
	[thu1] [bit] NULL,
	[thu2] [bit] NULL,
	[thu3] [bit] NULL,
	[thu4] [bit] NULL,
	[thu5] [bit] NULL,
	[thu6] [bit] NULL,
	[thu7] [bit] NULL,
	[soLanPHtrongTuan] [int] NULL,
	[sogoc] [int] NULL,
 CONSTRAINT [PK__dbo.tabB__1B8FFFB1FA773249] PRIMARY KEY CLUSTERED 
(
	[maBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tabBao_ngoaiLe]    Script Date: 27/06/2026 4:35:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tabBao_ngoaiLe](
	[maBao] [varchar](30) NOT NULL,
	[ngayPhatHanh] [datetime] NOT NULL,
	[soLanTrongNam] [int] NULL,
 CONSTRAINT [PK__tabBao_n__1B8FFFB1B2611EB2] PRIMARY KEY CLUSTERED 
(
	[maBao] ASC,
	[ngayPhatHanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tabChiTietDieuPhoi]    Script Date: 27/06/2026 4:35:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tabChiTietDieuPhoi](
	[sohd] [varchar](30) NOT NULL,
	[ngayNhan] [datetime] NOT NULL,
	[maBao] [varchar](30) NOT NULL,
	[tenbao] [nvarchar](255) NULL,
	[sobao] [int] NULL,
	[donGia] [decimal](18, 0) NULL,
	[soluongDieuPhoi] [int] NULL,
	[soluongBan] [int] NULL,
	[thanhTien]  AS ([donGia]*[soluongBan]),
 CONSTRAINT [PK__tabChiTi__85D3EB50A9797841] PRIMARY KEY CLUSTERED 
(
	[sohd] ASC,
	[ngayNhan] ASC,
	[maBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tabCHITIETHOADON]    Script Date: 27/06/2026 4:35:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tabCHITIETHOADON](
	[sohd] [varchar](30) NOT NULL,
	[ngayNhan] [datetime] NOT NULL,
	[maBao] [varchar](30) NOT NULL,
	[tenBao] [nvarchar](50) NULL,
	[soBao] [int] NULL,
	[soLuongThuc] [int] NULL,
	[soLuongPhatSinh] [int] NULL,
	[donGia] [float] NULL,
	[thanhTien] [float] NULL,
	[dieuPhoi] [int] NULL,
 CONSTRAINT [PK_tabCHITIETHOADON] PRIMARY KEY CLUSTERED 
(
	[sohd] ASC,
	[ngayNhan] ASC,
	[maBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tabDieuPhoi]    Script Date: 27/06/2026 4:35:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tabDieuPhoi](
	[soHD] [varchar](30) NOT NULL,
	[makh] [varchar](30) NOT NULL,
	[ngay] [datetime] NULL,
	[tungay] [datetime] NULL,
	[denngay] [datetime] NULL,
	[ghiChu] [varchar](200) NULL,
 CONSTRAINT [PK__tabDieuP__331EAE891E283230] PRIMARY KEY CLUSTERED 
(
	[soHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tabHOADON]    Script Date: 27/06/2026 4:35:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tabHOADON](
	[sohd] [varchar](30) NOT NULL,
	[makh] [varchar](30) NOT NULL,
	[ngayLapPhieu] [datetime] NOT NULL,
	[tuNgay] [datetime] NOT NULL,
	[denNgay] [datetime] NOT NULL,
	[ghichu] [varchar](200) NULL,
	[thanhToan] [bit] NOT NULL,
 CONSTRAINT [PK__tabHOADO__33178D31C9CAB221] PRIMARY KEY CLUSTERED 
(
	[sohd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tabKHACHHANG]    Script Date: 27/06/2026 4:35:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tabKHACHHANG](
	[MAKH] [varchar](30) NOT NULL,
	[TEN] [nvarchar](200) NOT NULL,
	[DIACHI] [nvarchar](300) NULL,
	[DIENTHOAI] [varchar](30) NULL,
	[CHIETKHAU] [smallint] NOT NULL,
	[P_PH] [bit] NOT NULL,
	[P_KT] [bit] NOT NULL,
	[UUTIEN] [varchar](10) NULL,
 CONSTRAINT [PK__tabKHACH__603F592C2AFF9599] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tabLogin]    Script Date: 27/06/2026 4:35:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tabLogin](
	[tenDangNhap] [varchar](50) NOT NULL,
	[matKhau] [varchar](50) NOT NULL,
	[HT] [bit] NULL,
	[NV] [bit] NULL,
	[BC] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[tenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tabTon]    Script Date: 27/06/2026 4:35:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tabTon](
	[ngay] [datetime] NOT NULL,
	[maBao] [varchar](30) NOT NULL,
	[tenBao] [nvarchar](100) NULL,
	[soBao] [int] NULL,
	[slPhatHanh] [int] NULL,
	[banthuc] [int] NULL,
	[banLe] [int] NULL,
	[dieuPhoi] [int] NULL,
	[ton] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ngay] ASC,
	[maBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tabUser]    Script Date: 27/06/2026 4:35:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tabUser](
	[tenDangNhap] [varchar](10) NOT NULL,
	[hoTen] [nvarchar](50) NULL,
	[matKhau] [varchar](10) NULL,
	[HT1] [bit] NULL,
	[ST1] [bit] NULL,
	[ST2] [bit] NULL,
	[NV1] [bit] NULL,
	[NV2] [bit] NULL,
	[NV3] [bit] NULL,
	[NV4] [bit] NULL,
	[NV5] [bit] NULL,
	[BC1] [bit] NULL,
	[BC2] [bit] NULL,
	[BC3] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[tenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tabBao_ngoaiLe]  WITH CHECK ADD  CONSTRAINT [FK_tabBao_ngoaiLe_tabBAO] FOREIGN KEY([maBao])
REFERENCES [dbo].[tabBAO] ([maBao])
GO
ALTER TABLE [dbo].[tabBao_ngoaiLe] CHECK CONSTRAINT [FK_tabBao_ngoaiLe_tabBAO]
GO
ALTER TABLE [dbo].[tabChiTietDieuPhoi]  WITH CHECK ADD  CONSTRAINT [FK_tabChiTietDieuPhoi_tabBAO] FOREIGN KEY([maBao])
REFERENCES [dbo].[tabBAO] ([maBao])
GO
ALTER TABLE [dbo].[tabChiTietDieuPhoi] CHECK CONSTRAINT [FK_tabChiTietDieuPhoi_tabBAO]
GO
ALTER TABLE [dbo].[tabChiTietDieuPhoi]  WITH CHECK ADD  CONSTRAINT [FK_tabChiTietDieuPhoi_tabDieuPhoi] FOREIGN KEY([sohd])
REFERENCES [dbo].[tabDieuPhoi] ([soHD])
GO
ALTER TABLE [dbo].[tabChiTietDieuPhoi] CHECK CONSTRAINT [FK_tabChiTietDieuPhoi_tabDieuPhoi]
GO
ALTER TABLE [dbo].[tabCHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_tabCHITIETHOADON_tabBAO] FOREIGN KEY([maBao])
REFERENCES [dbo].[tabBAO] ([maBao])
GO
ALTER TABLE [dbo].[tabCHITIETHOADON] CHECK CONSTRAINT [FK_tabCHITIETHOADON_tabBAO]
GO
ALTER TABLE [dbo].[tabCHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_tabCHITIETHOADON_tabChiTietDieuPhoi] FOREIGN KEY([sohd], [ngayNhan], [maBao])
REFERENCES [dbo].[tabChiTietDieuPhoi] ([sohd], [ngayNhan], [maBao])
GO
ALTER TABLE [dbo].[tabCHITIETHOADON] CHECK CONSTRAINT [FK_tabCHITIETHOADON_tabChiTietDieuPhoi]
GO
ALTER TABLE [dbo].[tabCHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_tabCHITIETHOADON_tabHOADON] FOREIGN KEY([sohd])
REFERENCES [dbo].[tabHOADON] ([sohd])
GO
ALTER TABLE [dbo].[tabCHITIETHOADON] CHECK CONSTRAINT [FK_tabCHITIETHOADON_tabHOADON]
GO
ALTER TABLE [dbo].[tabDieuPhoi]  WITH CHECK ADD  CONSTRAINT [FK_tabDieuPhoi_tabKHACHHANG] FOREIGN KEY([makh])
REFERENCES [dbo].[tabKHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[tabDieuPhoi] CHECK CONSTRAINT [FK_tabDieuPhoi_tabKHACHHANG]
GO
ALTER TABLE [dbo].[tabHOADON]  WITH CHECK ADD  CONSTRAINT [FK_tabHOADON_tabDieuPhoi] FOREIGN KEY([sohd])
REFERENCES [dbo].[tabDieuPhoi] ([soHD])
GO
ALTER TABLE [dbo].[tabHOADON] CHECK CONSTRAINT [FK_tabHOADON_tabDieuPhoi]
GO
ALTER TABLE [dbo].[tabHOADON]  WITH CHECK ADD  CONSTRAINT [FK_tabHOADON_tabKHACHHANG] FOREIGN KEY([makh])
REFERENCES [dbo].[tabKHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[tabHOADON] CHECK CONSTRAINT [FK_tabHOADON_tabKHACHHANG]
GO
ALTER TABLE [dbo].[tabTon]  WITH CHECK ADD  CONSTRAINT [FK_tabTon_tabBAO] FOREIGN KEY([maBao])
REFERENCES [dbo].[tabBAO] ([maBao])
GO
ALTER TABLE [dbo].[tabTon] CHECK CONSTRAINT [FK_tabTon_tabBAO]
GO
ALTER TABLE [dbo].[tabBAO]  WITH CHECK ADD  CONSTRAINT [CHK_donGia_positive] CHECK  (([donGia]>(0)))
GO
ALTER TABLE [dbo].[tabBAO] CHECK CONSTRAINT [CHK_donGia_positive]
GO
ALTER TABLE [dbo].[tabChiTietDieuPhoi]  WITH CHECK ADD  CONSTRAINT [CHK_soluongBan_positive] CHECK  (([soluongBan]>=(0)))
GO
ALTER TABLE [dbo].[tabChiTietDieuPhoi] CHECK CONSTRAINT [CHK_soluongBan_positive]
GO
ALTER TABLE [dbo].[tabChiTietDieuPhoi]  WITH CHECK ADD  CONSTRAINT [CHK_soluongDieuPhoi_positive] CHECK  (([soluongDieuPhoi]>=(0)))
GO
ALTER TABLE [dbo].[tabChiTietDieuPhoi] CHECK CONSTRAINT [CHK_soluongDieuPhoi_positive]
GO
ALTER TABLE [dbo].[tabCHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [CHK_soLuongThuc_positive] CHECK  (([soLuongThuc]>=(0)))
GO
ALTER TABLE [dbo].[tabCHITIETHOADON] CHECK CONSTRAINT [CHK_soLuongThuc_positive]
GO
ALTER TABLE [dbo].[tabDieuPhoi]  WITH CHECK ADD  CONSTRAINT [CHK_tungay_denngay] CHECK  (([tungay]<=[denngay]))
GO
ALTER TABLE [dbo].[tabDieuPhoi] CHECK CONSTRAINT [CHK_tungay_denngay]
GO
ALTER TABLE [dbo].[tabKHACHHANG]  WITH CHECK ADD  CONSTRAINT [CHK_chietkhau_range] CHECK  (([CHIETKHAU]>=(0) AND [CHIETKHAU]<=(100)))
GO
ALTER TABLE [dbo].[tabKHACHHANG] CHECK CONSTRAINT [CHK_chietkhau_range]
GO
