USE [Thanhnien]
GO
/****** Object:  Table [dbo].[tabBAO]    Script Date: 21/03/2026 4:25:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tabBAO](
	[maBao] [varchar](30) NOT NULL,
	[ten] [nvarchar](50) NOT NULL,
	[DVT] [nvarchar](50) NOT NULL,
	[donGia] [float] NOT NULL,
	[ngayBatDau] [datetime] NULL,
	[thu1] [bit] NULL,
	[thu2] [bit] NULL,
	[thu3] [bit] NULL,
	[thu4] [bit] NULL,
	[thu5] [bit] NULL,
	[thu6] [bit] NULL,
	[thu7] [bit] NULL,
	[soLanPHtrongTuan] [int] NULL,
	[sogoc] [int] NULL,
 CONSTRAINT [PK_tabBAO] PRIMARY KEY NONCLUSTERED 
(
	[maBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tabBao_ngoaiLe]    Script Date: 21/03/2026 4:25:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tabBao_ngoaiLe](
	[maBao] [varchar](30) NOT NULL,
	[ngayPhatHanh] [datetime] NOT NULL,
	[soLanTrongNam] [int] NULL,
 CONSTRAINT [PK_tabBao(ngoaiLe)] PRIMARY KEY NONCLUSTERED 
(
	[maBao] ASC,
	[ngayPhatHanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tabChiTietDieuPhoi]    Script Date: 21/03/2026 4:25:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tabChiTietDieuPhoi](
	[sohd] [varchar](20) NOT NULL,
	[ngayNhan] [datetime] NOT NULL,
	[maBao] [varchar](30) NOT NULL,
	[tenbao] [varchar](50) NULL,
	[sobao] [varchar](4) NULL,
	[donGia] [money] NULL,
	[soluongDieuPhoi] [int] NULL,
	[soluongBan] [int] NULL,
	[thanhTien] [money] NULL,
 CONSTRAINT [PK_tabDieuPhoi] PRIMARY KEY NONCLUSTERED 
(
	[sohd] ASC,
	[ngayNhan] ASC,
	[maBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tabCHITIETHOADON]    Script Date: 21/03/2026 4:25:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tabCHITIETHOADON](
	[sohd] [varchar](30) NOT NULL,
	[ngayNhan] [datetime] NOT NULL,
	[maBao] [varchar](30) NOT NULL,
	[tenBao] [nvarchar](50) NULL,
	[soBao] [int] NULL,
	[soLuongThuc] [int] NULL,
	[soLuongPhatSinh] [int] NULL,
	[donGia] [float] NULL,
	[thanhTien] [float] NULL,
	[dieuPhoi] [int] NULL,
	[soluongphatsinh1] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tabDieuPhoi]    Script Date: 21/03/2026 4:25:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tabDieuPhoi](
	[soHD] [varchar](10) NOT NULL,
	[makh] [varchar](30) NULL,
	[ngay] [datetime] NULL,
	[tungay] [datetime] NULL,
	[denngay] [datetime] NULL,
	[ghiChu] [varchar](200) NULL,
 CONSTRAINT [PK_tabDieuPhoi_1] PRIMARY KEY NONCLUSTERED 
(
	[soHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tabHOADON]    Script Date: 21/03/2026 4:25:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tabHOADON](
	[sohd] [varchar](30) NOT NULL,
	[makh] [varchar](30) NOT NULL,
	[ngayLapPhieu] [datetime] NOT NULL,
	[tuNgay] [datetime] NOT NULL,
	[denNgay] [datetime] NOT NULL,
	[ghichu] [varchar](200) NULL,
	[thanhToan] [bit] NOT NULL,
 CONSTRAINT [PK_tabHOADON] PRIMARY KEY NONCLUSTERED 
(
	[sohd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tabKHACHHANG]    Script Date: 21/03/2026 4:25:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tabKHACHHANG](
	[MAKH] [varchar](30) NOT NULL,
	[TEN] [nvarchar](200) NOT NULL,
	[DIACHI] [nvarchar](300) NULL,
	[DIENTHOAI] [varchar](30) NULL,
	[CHIETKHAU] [smallint] NOT NULL,
	[P_PH] [bit] NOT NULL,
	[P_KT] [bit] NOT NULL,
	[UUTIEN] [varchar](10) NULL,
 CONSTRAINT [PK_tabKHACHHANG_1] PRIMARY KEY NONCLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tabKHACHHANG1]    Script Date: 21/03/2026 4:25:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tabKHACHHANG1](
	[makh] [varchar](30) NOT NULL,
	[ten] [nvarchar](200) NOT NULL,
	[diaChi] [nvarchar](300) NULL,
	[dienThoai] [varchar](30) NULL,
	[chietKhau] [smallint] NOT NULL,
	[P_PH] [bit] NOT NULL,
	[P_KT] [bit] NOT NULL,
	[uuTien] [varchar](10) NULL,
 CONSTRAINT [PK_tabKHACHHANG] PRIMARY KEY NONCLUSTERED 
(
	[makh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tabTon]    Script Date: 21/03/2026 4:25:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tabTon](
	[ngay] [datetime] NOT NULL,
	[maBao] [varchar](30) NOT NULL,
	[tenBao] [nvarchar](100) NULL,
	[soBao] [int] NULL,
	[slPhatHanh] [int] NULL,
	[banthuc] [int] NULL,
	[banLe] [int] NULL,
	[dieuPhoi] [int] NULL,
	[ton] [int] NULL,
 CONSTRAINT [PK_tabTon] PRIMARY KEY NONCLUSTERED 
(
	[ngay] ASC,
	[maBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tabTon_old]    Script Date: 21/03/2026 4:25:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tabTon_old](
	[ngay] [datetime] NOT NULL,
	[maBao] [varchar](30) NOT NULL,
	[tenBao] [nvarchar](100) NULL,
	[soBao] [int] NULL,
	[slPhatHanh] [int] NULL,
	[banthuc] [int] NULL,
	[banLe] [int] NULL,
	[dieuPhoi] [int] NULL,
	[ton] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tabUser]    Script Date: 21/03/2026 4:25:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tabUser](
	[tenDangNhap] [varchar](10) NOT NULL,
	[hoTen] [nvarchar](50) NULL,
	[matKhau] [varchar](10) NULL,
	[HT1] [bit] NULL,
	[ST1] [bit] NULL,
	[ST2] [bit] NULL,
	[NV1] [bit] NULL,
	[NV2] [bit] NULL,
	[NV3] [bit] NULL,
	[NV4] [bit] NULL,
	[NV5] [bit] NULL,
	[BC1] [bit] NULL,
	[BC2] [bit] NULL,
	[BC3] [bit] NULL,
 CONSTRAINT [PK_tabUser] PRIMARY KEY NONCLUSTERED 
(
	[tenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tam]    Script Date: 21/03/2026 4:25:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tam](
	[makh] [varchar](30) NOT NULL
) ON [PRIMARY]
GO
